<form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Lab Form</legend>
    
    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bloodType">Blood type:</label>
      <div class="col-md-4"> 
        <label class="radio-inline" for="bloodType-0">
          <input type="radio" name="bloodType" id="bloodType-0" value="1" checked="checked">
          A
        </label> 
        <label class="radio-inline" for="bloodType-1">
          <input type="radio" name="bloodType" id="bloodType-1" value="2" checked>
          B
        </label> 
        <label class="radio-inline" for="bloodType-2">
          <input type="radio" name="bloodType" id="bloodType-2" value="3">
          AB
        </label> 
        <label class="radio-inline" for="bloodType-3">
          <input type="radio" name="bloodType" id="bloodType-3" value="4">
          O
        </label>
      </div>
    </div>
    
    </fieldset>
  </form>
    