<form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Lab Form</legend>
    
    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bloodType">Blood type:</label>
      <div class="col-md-4"> 
        <label class="radio-inline" for="bloodType-0">
          <input type="radio" name="bloodType" id="bloodType-0" 
            [(ngModel)]="bloodType" [value]="1">
          A
        </label> 
        <label class="radio-inline" for="bloodType-1">
          <input type="radio" name="bloodType" id="bloodType-1" 
            [(ngModel)]="bloodType" [value]="2">
          B
        </label> 
        <label class="radio-inline" for="bloodType-2">
          <input type="radio" name="bloodType" id="bloodType-2"
            [(ngModel)]="bloodType" [value]="3">
          AB
        </label> 
        <label class="radio-inline" for="bloodType-3">
          <input type="radio" name="bloodType" id="bloodType-3" 
            [(ngModel)]="bloodType" [value]="4">
          O
        </label>
      </div>
    </div>
    
    </fieldset>
    BloodType: {{bloodType}}
</form>
