<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example.chien.shoppinglist"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Shopping List</name>

    <description>
        App that record the shopping list for you. 
    </description>

    <author href="http://exec.hostzi.com" email="wolfgang.chien@gmail.com">
        Wolfgang Chien
    </author>

</widget>
